.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.bun_top {
  display: flex;
  align-items: center;
  background-color: #1C1C21;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: 25px;
  margin-right: 20px;
}

.bun_bottom {
  display: flex;
  align-items: center;
  background-color: #1C1C21;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 25px;
  margin-right: 20px;
}

.container {
  overflow-y: auto;
}