.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.bun_top {
  display: flex;
  align-items: center;
  background-color: #1C1C21;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: 25px;
  margin-right: 20px;
}

.empty_bun_top {
  background-color: #1C1C21;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px 0;
}

.bun_bottom {
  display: flex;
  align-items: center;
  background-color: #1C1C21;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 25px;
  margin-right: 20px;
}

.empty_bun_bottom {
  background-color: #1C1C21;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px 0;
}

.container {
  overflow-y: auto;
}

.price {
  display: flex;
  align-items: center;
}

.place_order {
  display: flex;
  justify-content: end;
}

.choose_filling {
  background-color: #1C1C21;
  border-radius: 50px;
  padding: 20px 0;
  text-align: center;
}