.auth_reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: center;
}

.reset_password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh;
}

.wrapper {
  display: flex;
}