.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: auto;
}

.name {
  text-align: center;
}